<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        table {
            border-collapse: collapse; /* 표테두리와 셀테두리의 간격을 없앰 */
        }
        tr:nth-of-type(3n) { /* 3배수 줄 마다 색 넣기 (짝수는 even, 홀수는 odd라 쓰면됨) */
            background-color: beige;
        }
        td {
            border: 1px solid black; /* 테두리 만들기 */
        }
    </style>
</head>
<body>
    
    <div id="app">

        <h1>v-for</h1>
        <ul>
            <!--books이라는 배열에 값을 item에 담아서 사용-->
            <li v-for="item in books">{{ item.title + "," + item.stock }}</li> 
            <br>
            <li v-for="item in books">{{ `${item.title}이 ${item.stock}권 남았습니다` }}</li>
            <br>
            <li v-for="n in 10">{{ n }}</li> <!--n in 숫자를 사용하면 1~숫자값 반복-->
        </ul>

        <ul>
            <li v-for="value in people">{{ value }}</li>
            <!--배열이 아닌 객체를 넣으면 반복문으로 안의 요소가 나옴-->
        </ul>

        <ol>
            <li v-for="name in names">{{ name }}</li>
        </ol>

        <h1>도서 목록</h1>
        <table> 
            <!--tr은 가로줄 / td는 세로칸 -->
            <tr>
                <td>도서번호</td>
                <td>도서명</td>
                <td>재고량</td>
            </tr>

            <tr v-for="item in books">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.stock}}</td>
            </tr>
        </table>

        <h1>실습 1</h1>
        <table>
            <tr>
                <td>이름</td>
                <td>도서명</td>
            </tr>
            <tr v-for="name in namelist">
                <td>{{ name.name }}</td>
                <td v-for="n in 2">{{ name.book[n-1] }}</td> <!--n값을 이용해서 배열의 인덱스에 접근할 수 있다-->
            </tr>
        </table>

    </div>

    <script>
        new Vue({
            el : "#app",
            data : {
                books : [
                    {id : 1, title : "마지막 수업", stock : 1},
                    {id : 2, title : "불편한 편의점", stock : 2},
                    {id : 3, title : "그리스 로마신화", stock : 0},
                    {id : 4, title : "월씰킹", stock : 1},
                    {id : 5, title : "돈의 심리학", stock : 3}
                ],
                people : {
                    name : "홍길동",
                    bookcount : 2
                },
                names : ["철수","영희","짱구"],
                namelist : [
                    {name : "철수", book : ["그리스 로마신화"]},
                    {name : "영희", book : ["월씽킹", "불편한 편의점"]}
                ]
            }
        });
    </script>
    
</body>
</html>