<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">
        
        <h1>홀짝 확인</h1>
        <!--v-model을 통해 value값이 있다면 value값 전달가능 / 없으면 boolean값-->
        <!--radio는 name을 동일하게 해줘야 적용가능-->
        <input type="radio" name="num" value="1" v-model="usernum"> 홀
        <input type="radio" name="num" value="0" v-model="usernum"> 짝
        <button v-on:click="randomNum">결과 확인</button>
        <p>결과 : {{ result }}</p>

    </div>

    <script>
        new Vue({
            el : "#app",
            data : {
                result : "",
                usernum : "",
            },
            methods : {
                randomNum() {
                    let ranNum = Math.floor(Math.random()*2); // 0 또는 1
                    // usernum과 ranNum 값을 비교하여 같으면 맞췄습니다, 틀리면 틀렸습니다 출력
                    if (ranNum == this.usernum) {
                        this.result = "맞췄습니다"
                    }
                    else {
                        this.result = "틀렸습니다"
                    }
                }
            }
        });
    </script>

</body>
</html>